
* {
    padding: 0px;
    margin: 0px;
}
h1 {
    margin-top: 30px;
    text-align: center;
}

.container {
    margin-top: 50px;
    float: right;
}

.row {
    padding-left: 3%;
    
}

.section-title {
    font-weight: bold;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    position: absolute;
    right: 0px;
    width: 90px;
    text-align: center;

    
    
}
.col-lg-4 {
    float: left;
    width: 30.9%;
    border: 1px solid black;
    position: relative;
    box-sizing: border-box;
    background-color: gray;
    margin-right: 2%;
    
}

#chicken {
    background-color: pink;
}

#beef {
    color: white;
    background-color: red;
}

#sushi {
    background-color: yellow;
}


.col-lg-4 p {
    margin-top: 38px;
    margin-bottom: 7px;
    padding-left: 10px;
    padding-right: 15px;
}